<h1>Add Contact</h1>
<div class="well">
  <form action="/contacts_form" class="form-horizontal" method="post">
    <!-- Forms -->
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="first-name" name="first-name" class="form-control" type="text" placeholder="First Name" required>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="last-name" name="last-name" class="form-control" type="text" placeholder="Last Name" required>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="job-title" name="job-title" class="form-control" type="text" placeholder="Job Title" required>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="company" name="company" class="form-control" type="text" placeholder="Company" required>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="personal-phone" name="personal-phone" class="form-control" type="number" placeholder="Personal Phone" required>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="work-phone" name="work-phone" class="form-control" type="number" placeholder="Work Phone (optional)">
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="other-phone" name="other-phone" class="form-control" type="number" placeholder="Other Phone (optional)">
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="personal-email" name="personal-email" class="form-control" type="text" placeholder="Personal Email" required>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="work-email" name="work-email" class="form-control" type="text" placeholder="Work Email">
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="other-email" name="other-email" class="form-control" type="text" placeholder="Other Email">
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="home-address" name="home-address" class="form-control" type="text" placeholder="Home Address" required>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="other-address" name="other-address" class="form-control" type="text" placeholder="Other Address (optional)">
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10'>
        <input id="po-address" name="po-address" class="form-control" type="text" placeholder="P.O. Box (optional)">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Add</button>
  </form>
</div>
